.wrapper {
    background-color: #212744;
    width: 341px;
    height: 82px;
    padding: 30px;
    border-radius: 8px;
}

.btn {
    margin: 20px;
    outline: none;
    cursor: pointer;
}

.btn-1 {
    border: 1px dashed #8471F2;
    color: #8471F2;
    background-color: #212744;
    border-radius: 6px;
    width: 126px;
    height: 40px;
}

.btn-2 {
    border: 1px solid #DD3756;
    border-radius: 6px;
    background-color: #212744;
    color: #DD3756;
    width: 126px;
    height: 40px;
}