body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #EBEEFD;
}

.wrapper {
    width: 780px;
    background-color: #10163A;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
}

.data {
    margin-bottom: 15px;
    width: 100%;
    /* height: 28px; */
    padding: 10px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: #262C49;
    color: #C2C6DC;
    border: none;
    font-size: 11px;
    line-height: 12.89px;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.input-3 {
    height: 90px;
    resize: none;
}

.data::placeholder {
    color: #C2C6DC;
}

.btn {
    width: 108px;
    height: 40px;
    margin-right: 20px;
    border-radius: 6px;
    color: #FFF;
    font-size: 11px;
    line-height: 12.65px;
}

.btn-1 {
    background-color: #7367F0;
    border: none;
}

.btn-2 {
    border: 1px solid #FB9F44;
    background-color: #10163A;
    color: #FB9F44;
}