* {
    font-family: "Roboto", sans-serif;
    padding: 0;
}

.container {
    width: 850px;
    background-color: #10163A;
    padding: 20px;
    border-radius: 8px;
}

.header h2 {
    margin: 0;
    color: #EBEEFD;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content {
    display: flex;
}

.wrapper {
    display: flex;
    padding-left: 30px;
}

.item th {
    padding-right: 60px;
    text-align: start;
    margin: 0 30px;
    font-weight: 700;
    color: rgba(194, 198, 220, 1);
}

.item tr {
    line-height: 25px;
    font-size: 11px;
}

.item td {
    font-weight: 400;
    color: rgba(204, 204, 204, 1);
}

.table-2 {
    margin-left: 150px;
}

.footer {
    margin-top: 20px;
}

.btn {
    width: 103px;
    height: 38px;
    font-size: 11px;
    font-weight: 400;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-1 {
    background-color: rgba(115, 103, 240, 1);
    color: rgba(251, 251, 252, 1);
    margin-right: 10px;
}

.btn-2 {
    background-color: rgba(16, 22, 58, 1);
    border: 1px solid #EA5455;
    color: rgba(234, 84, 85, 1);
}