* {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 780px;
    background-color: rgba(16, 22, 58, 1);
    color: rgba(252, 252, 252, 1);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 30px;
    border-radius: 8px;
    justify-content: space-between;
}

.container .item {
    width: 48%;
    margin-bottom: 15px;
}

.container .bar {
    box-sizing: border-box;
    width: 100%;
    height: 6px;
    position: relative;
}

.container .bar.purple .bottom {
    background-color: rgba(115, 103, 240, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 6px;
}

.container .bar.purple .top {
    width: 60%;
    height: 100%;
    background-color: rgba(115, 103, 240, 1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    border-radius: 6px;
}

.container .bar.orange .bottom {
    background-color: rgba(251, 159, 68, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 6px;
}

.container .bar.orange .top {
    width: 70%;
    height: 100%;
    background-color: #FB9F44;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    border-radius: 6px;
}

.container .bar.red .bottom {
    background-color: rgba(234, 84, 85, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 6px;
}

.container .bar.red .top {
    width: 80%;
    height: 100%;
    background-color: #EA5455;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    border-radius: 6px;
}

.container .bar.green .bottom {
    background-color: rgba(52, 199, 111, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 6px;
}

.container .bar.green .top {
    width: 80%;
    height: 100%;
    background-color: #34C76F;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    border-radius: 6px;
}